body{
    background-color:purple;
text-align:center;
font-size:50px;
body{
    background-color:black;
    text-align:center;
    color:white;
    font-family:Arial;
}
img{
    border-radius:20px;
    margin-top:20px;
}}